# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Compiled source
build
storybook-static
public

# Dependency directories
node_modules/

# Package Lock (Using pnpm with pnpm-lock.yaml)
package-lock.json

# JetBrains settings
.idea

# MacOS
.DS_Store

# Opt In
.opt-in
.opt-out
